.listCard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
    list-style: none;
    padding: 0;
  }

  .titleProduct {
    text-align: center;
    color: rgb(9, 139, 0);
  }

  .titleProductNan{
    text-align: center;
    color: rgb(255, 0, 72);
  }

  .btnBacket, .btnAdmin{
    position: fixed;
  }

  .btnAdmin{
    opacity: 0;
  }
 